modules = ["nodejs-18", "web", "bash"]
run = "npm run serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 42150220
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run serve"

[[ports]]
localPort = 8443
externalPort = 80
